<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">¡Publica tu arriendo!</h1>
            <h3 class="mb-5">
                <em>O consigue el apartamento de tus sueños ;)</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empieza
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>
